<div class="min-h-screen bg-gray-50 font-sans">
    <header-list [h1_text]="'spa_loyalty.header.title' | translate" [url_site]="'/spa-orlane'"></header-list>
    <div class="px-4 md:px-12 lg:px-32 xl:px-64 pb-10">
        <!-- ENCABEZADO -->
        <div class="pt-8 mb-10 text-center">
            <h2 class="text-3xl font-semibold text-gray-800">{{ header.levelsTitle | translate }}</h2>
            <div class="w-12 h-px bg-[#00633a] mx-auto mt-3"></div>
        </div>
        <div class="pb-0">
            <!-- TÍTULO -->
            <div class="bg-white py-6 border-b border-gray-100 text-center md:text-justify">
                <h1 class="text-2xl md:text-3xl font-semibold text-gray-800 leading-snug">
                    {{ 'spa_loyalty.title' | translate }}
                </h1>
            </div>
    
            <!-- DESCRIPCIÓN -->
            <div class="bg-white py-1 border-b border-gray-100">
                <p class="text-gray-600 text-base md:text-lg leading-relaxed text-justify">
                    {{ 'spa_loyalty.description' | translate }}
                </p>
            </div>
    
            <div class="bg-white py-6 border-b border-gray-100 text-center md:text-justify">
                <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 leading-snug">
                    {{ header.participationTitle | translate }}
                </h2>
            </div>
    
            <div class="bg-white py-1 border-b border-gray-100">
                <ul class="text-gray-600 text-base md:text-lg leading-relaxed text-justify">
                    @for (item of participation(); track $index) {
                        <li>{{ item | translate }}</li>
                    }
                </ul>
            </div>
        </div>
        <!-- BADGES -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 [&>*:last-child]:lg:col-start-2">
            @for (level of levels(); track level.id) {
                <div class="relative flex flex-col items-center">
                    <!-- Imagen flotante -->
                    <img [src]="level.image" [alt]="level.name" class="h-64 w-64 object-contain rounded-full drop-shadow-lg" />
                    <!-- Card [class]="level.color" [class]="level.headerColor"-->
                    <div class="rounded-2xl min-h-[450px] overflow-hidden border-2 w-full bg-[#002368]">
                        <div class="py-3 text-center bg-[#002368]">
                            <span class="text-white font-bold tracking-widest text-sm font-body italic uppercase">
                                {{ level.name | translate}}
                            </span>
                        </div>
                        <div class="bg-white py-6 text-center border-b border-gray-100">
                            <!-- <h3 class="uppercase">Requisitos de participación</h3> -->
                            <span class="text-gray-500 text-base ml-1 font-body italic">
                                {{ header.subtitleLevels | translate}}
                            </span>
                            <!-- <p class="text-5xl font-light text-gray-800 font-body italic">
                                {{ level.nights }} visitas max.
                            </p> -->
                            <!-- @for (requirement of level.requirements; track requirement; let last = $last) {
                                <p class="text-gray-400 text-base ml-1 font-body italic">
                                    {{ requirement }}
                                </p>
                            } -->
                        </div>
                        <div class="bg-white">
                            <!-- <h3 class="uppercase text-center">Beneficios del programa</h3> -->
                            @for (benefit of level.benefits; track benefit; let last = $last) {
                            <div class="px-4 py-3 text-center text-base text-gray-600 tracking-wide" [class.border-b]="!last"
                                [class.border-gray-100]="!last">
                                <p>{{ benefit | translate }}</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    
        <div class="pb-10">
            <div class="bg-white py-6 border-b border-gray-100 text-center md:text-justify">
                <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 leading-snug">
                    {{ header.conditionsTitle | translate }}
                </h2>
            </div>
    
            <div class="bg-white py-1 border-b border-gray-100">
                <!-- <p class="text-gray-600 text-base md:text-lg leading-relaxed text-justify">
                    Para estancias mínimas de 3 noches.
                </p><br> -->
                <ul class="text-gray-600 text-base md:text-lg leading-relaxed text-justify">
                    @for (item of conditions(); track $index) {
                        <li>{{ item | translate }}</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<footer-component />