<!-- Botón regresar -->
@if (showBack()) {
    <button (click)="goBack()" class="mt-6 flex items-center gap-2 text-[#00633a] text-sm font-medium hover:underline">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
        Regresar
    </button>
}

<h2 class="text-2xl font-semibold text-gray-800 mt-4 mb-6 text-center">
    {{ title() }}
</h2>

<ngx-extended-pdf-viewer [src]="src()" height="80vh" language="es" [showToolbar]="true" [showSidebarButton]="false"
    [showFindButton]="false" [showPrintButton]="false" [showDownloadButton]="false" [showOpenFileButton]="false"
    [showSecondaryToolbarButton]="false" [showZoomButtons]="true" [showDrawEditor]="false" [showTextEditor]="false" [showStampEditor]="false" [showHighlightEditor]="false" 
    [showRotateButton]="false" zoom="page-width" [showPagingButtons] = "true">
</ngx-extended-pdf-viewer>