<div class="relative rounded-2xl overflow-hidden h-64 cursor-pointer group" [routerLink]="route()">
    <img [src]="url_img()" loading="lazy" width="800" height="340"
        class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300" alt="'{{ span_text() }}'" />
    <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/20 to-transparent flex items-end p-3">
        <span class="text-white font-semibold text-sm uppercase tracking-wide font-body italic">{{ span_text() }}</span>
    </div>
</div>