@import "tailwindcss";

/* Playfair Display - Títulos
@font-face {
    font-family: 'Playfair Display';
    src: url('/assets/fonts/playfair_display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/assets/fonts/playfair_display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Libre Caslon Text - Body */
/* @font-face {
    font-family: 'Libre Caslon Text';
    src: url('/assets/fonts/libre_caslon_text/LibreCaslonText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('/assets/fonts/libre_caslon_text/LibreCaslonText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('/assets/fonts/libre_caslon_text/LibreCaslonText-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
} */

/* Aplicar fuentes globalmente */
/* body {
    font-family: 'Libre Caslon Text', Georgia, serif;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
} */
@theme {
    --font-title: "English 111 BT", serif;
    --font-body: "Caslon 540 BT", Georgia, serif;
}
/* English 111 BT Vivace - Títulos */
@font-face {
    font-family: 'English 111 BT';
    src: url('/assets/fonts/english_111_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Caslon 540 BT - Body */
@font-face {
    font-family: 'Caslon 540 BT';
    src: url('/assets/fonts/Caslon_540_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Aplicar fuentes globalmente */
body, p, ul, input{
    font-family: 'Caslon 540 BT', Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'English 111 BT', serif; */
    font-family: 'Caslon 540 BT', Georgia, serif;
}
