@import "tailwindcss";

@theme {
    --font-title: "English 111 BT", serif;
    --font-body: "Caslon 540 BT", Georgia, serif;
}
/* English 111 BT Vivace - Títulos */
@font-face {
    font-family: 'English 111 BT';
    src: url('/assets/fonts/english_111_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Caslon 540 BT - Body */
@font-face {
    font-family: 'Caslon 540 BT';
    src: url('/assets/fonts/Caslon_540_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Aplicar fuentes globalmente */
body, p, ul, input{
    font-family: 'Caslon 540 BT', Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'English 111 BT', serif; */
    font-family: 'Caslon 540 BT', Georgia, serif;
}
