<div class="flex items-center">
    <button (click)="toggleLang()" class="flex items-center gap-2 bg-[#00633a] hover:bg-[#004d2d] active:scale-95 text-white px-4 py-2 rounded-full text-sm font-medium transition-all duration-200 shadow-sm font-[family-name:--font-body]">

        @if (currentLang() === 'es') {
            <span class="text-base md:text-lg">🇲🇽</span>
            <span class="text-sm md:text-base uppercase tracking-wide">ES</span>
        } @else {
            <span class="text-base md:text-lg">🇺🇸</span>
            <span class="text-sm md:text-base uppercase tracking-wide">EN</span>
        }

        <!-- Icono de cambio
        <svg class="w-3.5 h-3.5 opacity-70" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
        </svg> -->

    </button>
</div>